@media (max-width: 640px) {
    .container1{
        width: 100%;

    }
    .lable{
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }
    .content_nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }
    .nav_checkbox input:checked ~ .content_nav{
        max-height: 100vh;
        background-color:#1dc8cd;
    }  
    form .form-row textarea{
        margin-left: -5px;
    }
    .content_nav li {
        padding: 20px 0px;
    }
    .container-row{
        grid-template-columns: 1fr;
    }
        .img-text__featuress{
        grid-template-columns: 1fr;
    }
    .product-screen-1,.product-screen-3{
        display: none;
    }
        .product-screens .product-screen-2{
            height: 100%;
            top: 0;
    }
    .container-row .row-text h2{
        font-size: 24px;
    }
    .section__text{
        margin-top: 100px;
        top: 0;
    }
    .container-row .row-text{
        padding: 0;
    }
    #about{
        padding: 0px 12px;
    }
    .section__text h2{
        margin: 30px 0 10px 0;
        font-size: 28px;
        line-height: 36px;
        padding: 0;
    }
        section .container2{
            height: 100vh;
        }
        .contact__container .row .row1, .row2, .row3{
            margin: 0px;
        }
    h2{
        font-size: 36px;
        padding: 0;
        margin: 0;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
   }
    .section__text p{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
        padding: 0;
    }
    .Featuress__title-box{
        width: 100%;
    }
    .container_pricing{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 12px;
    }
    .Featuress__img{
        margin: 0 auto;
    }
    .Pricing__img img{
        width: 100%;
    }
    .call-to-action_container .text{
        padding: 20px;
        width: 100%;
    }
    .ok1{
        width: 100%;
        display: flex;
    flex-direction: column;
    }
    
    .container-row .row-img{
        padding: 0;
    }
    .container-row .row-text p{
        font-size: 15px;
    }
    .container-row .row-img img{
        width: 100%;
        padding: 0;
        padding-bottom:20px;
    }
    .call-to-action_container{
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center; 
    }
    .call-to-action_container .button-a a{
        margin-top: 20px;
        padding: 14px 30px;
    }
    .call-to-action_container .button-a{
        width: auto;
    }
    .section-description{
        flex-direction: column;
    }
    .clients__container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .box-row{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .Pricing__container{
        width: auto;
        padding: 0px 12px;
    }
    .box-row .box:nth-child(2){
        border: #1dc8cd 1px solid;
    }
    .box-row .box{
        border: none;
    }
    .box-row .box ul{
        padding-left: 50px;
    }
    .Featuress__title h3{
        display: none;
    }
    .Featuress__title h2{
        display: none;
    }
    #btn-back-to-top{
        right: 0;
    }
    .fig-h3{
        display: block;
        font-size: 2rem;
        text-align: center;
        align-items: center;
        padding: 20px 0px;
        font-weight: 400;
    }
    .container_pricing .Pricing__text h3{
            font-size: 14px;
     }
     .container_pricing .Pricing__text p{
        font-size: 13px;
     }
     .Pricing__text i{
        font-size: 40px;
     }
    .container-row .row-text ul li{
        font-size: 15px;
    }
    .container-row .row-text ul li i{
        font-size: 18px;
    }
    .fig-h2{
        display: block;
        width: 60px;
        height: 3px;
        background-color: #1dc8cd;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0px auto 20px auto;
    }
    .section-description {
        flex-direction: column;
    }
    .box-row2 {
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    .contact__container .rowr{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact__container .rowr .row1, .contact__container .rowr .row2 ,.contact__container .rowr .row3{
        width: 100%;
    }
    form .form-row1 input:nth-child(1){
        margin-bottom: 20px;
        width: 103%;
        margin-left: -5px;
    }
     form .form-row1 input:nth-child(2) {
        width: 103%;
        margin-left: -5px;
    }
        .more-features__container .section-header p{
            font-size: 12px;
        }
        .section-description .box .title p{
            line-height: 20px;
        }
        .section-description .box i{
            padding-bottom: 15px;
        }
    #more-features{
        padding-left: 12px;
        padding-right: 12px;
    }
        .section-description .box .title h4{
            margin-bottom: 15px;
        }
    .section-description .box{
        width: 100%;
        margin: 10px auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 14px;
    }
    .more-features__container{
        width:auto;
    }
    .box-row2{
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .box-row2 .box2 span{
        padding: 5px;
    }
    .gallery-row{
        grid-template-columns: 1fr;
    }
    .box2{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        margin-bottom: 15px;
        
    }
    .team__container{
        width: auto;
        padding: 0 12px;
    }
    form .form-row input{
        margin-left: -5px;
    }
    .box-row2 .box2 .box-img{
        width: 100%;
        object-fit: cover;
        height: 260px;
    
        overflow: hidden;
    }
    
    form .form-row1 input:nth-child(1) {
        width: 100%;
    }
    form .form-row1 input:nth-child(2) {
        width: 100%;
    }
    .box-row2 .box2 .box-img img{
        object-fit: cover;
        height: 100%;
    }
    .contact__container{
        width: auto;
        padding: 0px 12px;
        
    }
    .team__container .section-header p {
        width: 100%;
        margin: 0 auto;
    }
    form .form-row1{
        flex-direction: column;
        width: 100%;
    }
    form .form-row1 input{
        width: 100%;
    }
    .contact__container .row .row3,.contact__container .row .row2{
        width: 100%;
    }
    .nav-bar{
        width: 100%;
        height:100vh;
        background-color: red !important;  
        position: fixed;  
    }
    
        footer .footer__container{
        width: auto;
        display: none;
    }
}