* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    background-color: #eff5f5;
}

/* Header */

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    align-items: center;
    /* background: -webkit-linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 224, 153, 0.8)); */
}

.stick {
    background: linear-gradient(45deg, #1de099, #1dc8cd);
}

.container1 {
    width: 1280px;
    margin: auto;
}

.nav_checkbox {
    margin-top: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0px 10px 0px;
}

.logo {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.tab-nav {
    outline: none;
    display: none;

}

.lable {
    display: none;
    color: white;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 5px;

}

.content_nav {
    grid-column: 3;
    list-style: none;
    margin: 0;


}

.content_nav ul {
    padding: 30px 0px;
}

.content_nav li {
    display: inline-block;
    padding: 10px 0px;


}

.content_nav li a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    position: relative;
    font-size: 15px;
    margin: 0px 13.3px;
    padding: 0 2px;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;

}

.content_nav li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 23px;
    transform-origin: center;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.3s;
}

.content_nav li a:hover::after {
    transform: scale(1, 1);
}

section .container2 {
    width: 100%;
    height: 100vh;
    background: url("https://bootstrapmade.com/demo/templates/Avilon/assets/img/hero-bg.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
}

.over::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 200, 205, 0.8))
}

.section__text {
    position: absolute;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

.section__text h2 {
    margin: 51px 0 16px 0;
    padding: 0 15px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #fff;
}

.section__text p {
    color: #fff;
    margin-bottom: 23px;
    padding: 0 15px;
    font-size: 22px;
}

.section__text a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.section__text a:hover {
    color: #1dc8cd;
    background-color: white;
    transition: 1s;

}

.product-screens {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
    overflow: hidden;

}

.product-screens .product-screen-1 {
    position: absolute;
    z-index: 30;
    left: calc(50% + 54px);
    bottom: 0;
    top: 30px;
}

.product-screens .product-screen-2 {
    position: absolute;
    z-index: 20;
    left: calc(50% - 154px);
    bottom: 0;
    top: 90px;
}

.product-screens .product-screen-3 {
    position: absolute;
    z-index: 10;
    left: calc(50% - 374px);
    bottom: 0;
    top: 150px;
}

.container__header {
    width: 100%;
    margin: 0 auto;
    padding: 50px 12px 40px 12px; 
}

.section__header {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section__header h3 {
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
    font-weight: 400;
}

.section__header span {
    height: 3px;
    width: 60px;
    background-color: #1dc8cd;
    margin-bottom: 20px;
}

.section__header p {
    padding-bottom: 20px;
    color: #777;
    font-style: italic;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.container-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 11px auto;
    /* flex-wrap: wrap; */
    overflow: hidden;
    gap: 30px;
}

.container-row .row-img {
    width: 100%;
}

.container-row .row-img img {
    max-width: 100%;
    height: auto;

}

.container-row .row-text {
    color: #666666;
}

.container-row .row-text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 2rem;
}

.container-row .row-text h3 {
    color: #777;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
    margin-bottom: 20px;
}

.container-row .row-text p {
    line-height: 26px;
    margin-bottom: 36px;
    font-size: 1rem;
}

.container-row .row-text ul li {
    padding-bottom: 21px;
    font-size: 1rem;
    list-style: none;
    line-height: 20.7px;

}

.container-row .row-text ul li i {
    color: #1dc8cd;
    background: rgb(240, 238, 244);
    padding-right: 4px;
}

.container-row .row-text .text {
    margin-top: 9px;
    line-height: 25px;
}

#about {
    overflow: hidden;
}

/*  */
#Featuress {
    background: #fff;
    overflow: hidden;
}

.container__Featuress {
    padding-top: 60px;
}

.img-text__featuress {
    display: grid;
    grid-template-columns: 377px 1fr;
    gap: 20;
}

.container__Featuress h3 {
    text-align: center;
}

.fig-h3 {
    display: none;
}

.fig-h2 {
    display: none;
}

.ok {
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.Featuress__title-box {
    width: 35%;
    height: auto;
    padding: 12px;
}

.Featuress__title i {
    font-size: 2rem;
    color: #1dc8cd;
}

.Featuress__title h4 {
    margin: 20px 0px;
}

.Featuress__title h4 a {
    font-size: 1.2rem;
    text-decoration: none;

}

.Featuress__title p {
    font-size: 0.9rem;
    line-height: 24px;
}

.Featuress__title h3 {
    font-size: 2rem;
    text-align: center;
    align-items: center;
    padding: 20px 0px;
    font-weight: 400;
}

.Featuress__title h2 {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #1dc8cd;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container_pricing {
    width: 1296px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 555px;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.container_pricing .Pricing__text h2 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.container_pricing .Pricing__text h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #999;
    margin-bottom: 20px;
}

.container_pricing .Pricing__text p {
    line-height: 24px;
    color: #777;
    margin-bottom: 32px;
    font-size: 1rem;
}

.Pricing__text i {
    font-size: 2rem;
    padding-right: 10px;
    color: #1dc8cd;
}

.Pricing__text .r {
    display: flex;
}

.Pricing__text .v {
    font-size: 3.3rem;
    padding-right: 10px;
}

#call-to-action {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), url("https://bootstrapmade.com/demo/templates/Avilon/assets/img/call-to-action-bg.jpg") fixed center center;
}

.call-to-action_container {
    width: 1296px;
    height: auto;
    display: flex;
    color: #fff;
    margin: 0 auto;
    padding: 80px 0px;
}

.call-to-action_container .text {
    width: 80%;
}

.call-to-action_container .button-a {
    width: 30%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.call-to-action_container .button-a a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    color: white;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 10px;
    transition: 0.5s;
}

.call-to-action_container .text h3 {
    font-size: 28px;
    margin-bottom: 20px;

}

.call-to-action_container .text p {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
}

.call-to-action_container .button-a a:hover {
    background-color: #1dc8cd;
    border: 1px solid #1dc8cd;
    transition: 0.5s;

}

#more-features {
    width: 100%;
    background-color: #eff5f5;
    padding-top: 60px;
    overflow: hidden;

}

.more-features__container {
    width: 1296px;
    text-align: center;
    margin: 0 auto;
}

.more-features__container .section-header h3 {
    font-size: 31px;
    font-weight: 500;
    line-height: 30px;
}

.more-features__container .section-header div {
    height: 3px;
    width: 60px;
    background-color: #1dc8cd;
    margin-bottom: 30px;
    margin: 20px auto;
}

.more-features__container .section-header p {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.section-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-description .box {
    text-align: left;
    width: 48%;
    height: auto;
    background-color: #fff;
    margin: 10px;
    color: black;
    display: flex;
    padding: 60px 33px;
    box-shadow: 0px 0px 30px rgb(73 78 92 / 15%);
}

.section-description .box i {
    font-size: 70px;
    color: #1dc8cd;
    padding-right: 20px;
}

.section-description .box .title h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.section-description .box .title p {
    font-size: 12px;
    color: #777;
    line-height: 23px;
}

.Pricing__container {
    width: 1296px;
    text-align: center;
    margin: 0 auto;
}

#clients {
    background-color: #fff;
    margin-top: 100px;
}

.clients__container {
    width: 1296px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow: hidden;
    padding: 40px;

}

.clients__container .img {
    max-width: 100%;
}

.clients__container .img img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

.clients__container .img img:hover {
    opacity: 1;
}

#Pricing {
    overflow: hidden;
}

#Pricing2 {
    background-color: #eff5f5;
    margin-top: 40px;
    overflow: hidden;
}

.Pricing__container .section-header h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 50px;
}

.Pricing__container .section-header div {
    height: 3px;
    width: 60px;
    background-color: #1dc8cd;
    margin-bottom: 30px;
    margin: 20px auto;
}

.Pricing__container .section-header p {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    padding-bottom: 40px;
    margin-bottom: 34px;
}

.box-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.box-row .box {
    border: 1px solid #1dc8cd;
    background-color: #fff;
    padding: 39px 10px 50px 10px;
}

.box-row .box h3 {
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 28px;
}

.box-row .box h4 {
    font-size: 40px;
    color: #1dc8cd;
    font-weight: 400;
}

.box-row .box h4 sub {
    position: relative;
    font-size: 22px;
    top: -29px;
}

.container_pricing3 {
    grid-template-columns: 555px 1fr;
}

.box-row .box h4 span {
    color: #777;
    font-weight: 300;
    font-size: 20px;
}

.box-row .box ul li i {
    padding-right: 6px;
}

.box-row .box ul {
    padding: 16px 30px;
    font-size: 16px;
    color: #777;
    margin-bottom: 11px;
}

.box-row .box ul li {
    list-style: none;
    text-align: left;
    line-height: 30px;
    padding: 1.5px 0px;
}

.box-row .box ul li i {
    color: #1dc8cd;
    background: #fff;
}

.box-row .box a {
    padding: 8px 25px;
    background-color: #777;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.team__container {
    width: 1296px;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0px;
    overflow: hiden;
}

.team__container .section-header h3 {
    font-size: 31px;
    font-weight: 400;
    line-height: 30px;
}

.team__container .section-header div {
    height: 3px;
    width: 60px;
    background-color: #1dc8cd;
    margin-bottom: 30px;
    margin: 20px auto;
}

.team__container .section-header p {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    padding-bottom: 40px;
    margin-bottom: 32px;
}

#team {
    background-color: #fff;
    margin: 40px 0px;
    overflow: hidden;
}

.box-row2 {
    display: flex;
    justify-content: space-between;

}

.box-row2 .box2 .box-img {
    width: 290px;
    height: 260px;
    overflow: hidden;
}

.box-row2 .box2 .box-img img {
    width: 100%;
    height: 100%;
}

.box-row2 .box2 h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: 10px;

}

.box-row2 .box2 span {
    font-size: 12px;
    display: block;
    color: #666666;
}

.box-row2 .box2 .social {
    margin-top: 20px;
}

.box-row2 .box2 .social a {
    font-size: 20px;
    color: #777;
    padding: 0px 5px;

}

.gallery__container {
    text-align: center;
}

.gallery__container .section-header h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 50px;
}

.gallery__container .section-header div {
    height: 3px;
    width: 60px;
    background-color: #1dc8cd;
    margin-bottom: 30px;
    margin: 20px auto;
}

#gallery {
    overflow: hidden;
}

.gallery__container .section-header p {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.gallery-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;

}

.gallery-row .gallery-img {
    overflow: hidden;
    max-width: 100%;
}

.gallery-row .gallery-img img {
    width: 100%;
    transition: 0.5s;
}

.gallery-row .gallery-img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#contact {
    padding: 40px 0px;
}

.contact__container {
    width: 1296px;
    margin: 0 auto;
}

.contact__container .rowr {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#contact {
    background-color: #fff;
}

.contact__container .row .row1,
.row2,
.row3 {
    width: 100%;
    height: auto;

    margin: 10px;
}

.contact__container .rowr .row1 {
    width: 33.3%;
}

.contact__container .rowr .row2 {
    width: 25%;
}

.contact__container .rowr .row3 {
    width: 44.6%;
}

.contact-about h3 {
    font-size: 30px;
    font-weight: 300;
    color: #1dc8cd;
    margin-bottom: 10px;
}

.contact-about p {
    line-height: 24px;
    color: #888;
    margin-bottom: 30px;
    font-size: 14px;
}

.social-link a i {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #1dc8cd;
    border-radius: 50%;
    color: #1dc8cd;
    margin: 0px 3px;
}

.row2 .info div {
    display: flex;
    font-size: 14px;
    color: black;
    padding: 20px 0px;
}

.row2 .info div i {
    color: #1dc8cd;
    padding-right: 14px;
    font-size: 30px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;

}

form .form-row1 {
    display: flex;
    justify-content: space-between;
}

form .form-row1 input:nth-child(1) {
    width: 47%;
}

form .form-row1 input:nth-child(2) {
    width: 47%;
}

form .form-row input,
.form-row1 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    transition: 0.2s;

}

form .form-row input:focus,
.form-row1 input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    transition: 0.2s;
}

form .form-row input {
    margin: 20px 0px;
}

form .form-row textarea {
    min-height: 50px;
    width: 100%;
    padding: 10px;
    resize: vertical;
    border: 1px solid #ced4da;
    transition: 0.1s;
}

form .form-row textarea:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    transition: 0.1s;
}

form button {
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(45deg, #1de099, #1dc8cd);
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    border: none;
    font-size: 16px;
    align-items: center;
    margin: 20px auto;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);

}

footer .footer__container {
    width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

footer .footer__container ul {
    display: flex;
    list-style: none;

    font-size: 14px;
}

footer .footer__container ul li {
    padding: 0px 10px;
}

footer .footer__container ul li a {
    text-decoration: none;
    color: #777;
}

nav>.aaaa {
    float: right;
    top: 0;
    left: 0;
    width: 100%;
}